<!DOCTYPE html>
<html lang="ja" style="height: 100%;">

<head>
  <title><%= emo_name %> - Emotional Graphics</title>
  <meta name="viewport" content="width=720px">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Emotional Graphics" />
  <meta property="og:image" content="/images/ogp.jpg" />
  <meta property="og:image:width" content="256" />
  <meta property="og:image:height" content="256" />
  <meta property="og:description" content="Emotional Graphics" />
  <meta property="og:url" content="https://emogallery.netlify.com/gallery/<%= emo_name %>.html" />
</head>

<body style="height: 100%;">
  <div style="max-width: 620px; margin: auto; padding: 50px; height: max(100vh, 100%); border-left: solid 1px; border-right: solid 1px;">
    <div style='text-align: center;'>
    <a style="color: black;" href="/">Emos</a> &gt;&gt; <a style="color: black;" href="/gallery/<%= emo_name %>.html"><%= emo_name %></a>
    </div>

    <h1 style='text-align: center;'><%= emo_name %></h1>
    <div id="main">
    </div>

  <h2 style='text-align: center;'> Code </h2>
  <p style="text-align: center">
    Github: <a target="_blank" href="https://github.com/genya0407/emo/blob/master/javascripts/<%= emo_name %>.js"><%= emo_name %>.js</a>
  </p>
<pre class="prettyprint linenums" style="white-space: pre-wrap;">
<%= script %>
</pre>
</div>

  <script src="/javascripts/<%= emo_name %>.js">
  </script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <style>
    li.L0, li.L1, li.L2, li.L3,
    li.L5, li.L6, li.L7, li.L8 {
      list-style-type: decimal !important;
    }
  </style>
</body>

</html>